/*******************************************************************************

    Common classes for all popups

*******************************************************************************/

.hide {
	display: none;
}

.modal-popup {
  cursor: default;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.popup-content {
  display: flex;
	flex-flow: wrap;
  margin: 10% auto 3vh;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: linear-gradient(#fff, #d9bea6);

}

/*******************************************************************************

    Modal box for Rules

    Setup a popup displaying the rules when
    "How to play" is clicked. The popup is made
    using only html5 and css without any
    JavaScript.

*******************************************************************************/

/*  Design of the popUp:
      - full screen
      - Fixed position
      - Black background with transparency
      - no effect on clicked                    */

.pop-up {
	opacity:0;            /* Hide popUp           */
	transition: opacity 400ms ease-in;
  text-align: left;
	pointer-events: none;
}

/*  Pseudo class to display the popup when link
    is clicked                                  */

.pop-up:target {
	opacity:1;             /* Display popUp       */
	pointer-events: all;  /* click action normal */
}

/*  Design of the text box                      */

.pop-up > div {
	max-width: 70%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: linear-gradient(#fff, #d9bea6);
}

/*  Create a small round button for the Close
    link and  place it at a fixed position      */

.close {
	background: #310;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
 background: #d9bea6;
}

/*******************************************************************************

		Modal popup for the end of the game

*******************************************************************************/


#end-choice {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: auto;
  width: 70vw;
}


#final-score {
  font-size: 0.7em;
  line-height: 0.5vw;
  text-align: center;
}

#message {
  justify-content: center;
	max-width: 70vw;

}

#result {
  cursor: default;
  line-height: .1vw;
  text-align: center;
  width: 100%;
}

.emoji{
  max-width: 11vw;
}

.end-menu {
  font-size: 3vw;
  text-align: center;
  width: 33%;
}


/*******************************************************************************

    Modal popup when game is paused

*******************************************************************************/

#pause {
  align-items: center;
  max-width: 45vw;
  text-align: center;
}

#pause-message {
  width: 100%;
}

#game-saved {
  margin-top: 0;
  text-align: center;
  width: 100%;
}
#resume {
  width: 50%;
  margin-bottom: 2vh;
}

#restart {
  width: 50%;
  margin-bottom: 2vh;
}
/*******************************************************************************

		Breakpoint for portrait orientation.

    In protrait view the "header" with the score and the menu becomes a
    becomes a "side-bar" in order to keep the game playable.
    This is made using the position proprty of the flexbox. other changes are
    only size adaptations with units proportional to the viewport size.

*******************************************************************************/

@media screen and (orientation: portrait) {

	header{
    order: 0;
  	max-width: 100%;
  }

	#deck {
		width: 75vw;
		height: 75vw;
		max-height: 480px;
		max-width: 480px;
		padding: 10px;
	}

	#game {
		height: 50vh;
		width: 100%;
	}

	#game-title {
		height: 15vh;
	}

	#score {
		height: 15vh;
	}

	.button {
		font-size: 2.5vh;
	}

  .card {
  	width: 22%;
  	height: 22%;
  }

	.menu {
		order: 3;
	}

	.pannel {
		font-size: 0.8em;
		margin-bottom: 1vh;
	}

  .picture {
    font-size: 4.5vh;
		margin-top: 2vh;
	}

  .popUp {
    font-size: 0.8em;
  }
}

/*******************************************************************************

		keyframe animation for non matching shuffleCards

*******************************************************************************/

@keyframes flip {
	from {background-color: orange;}
	to {background-color: red;}
}

.flipping {
	animation-iteration-count: 10;
	animation-duration: 100ms;
	animation-name: flip;
}

/*******************************************************************************

		keyframe animation for matching shuffleCards

*******************************************************************************/

@keyframes matchflip {
	from {color: lightgreen;}
  to {color: brown;}
}

.matching {
  animation-iteration-count: 1;
  animation-duration: 3500ms;
  animation-name: matchflip;
}
