
/*******************************************************************************

    Modal box for Rules

    Setup a popup displaying the rules when
    "How to play" is clicked. The popup is made
    using only html5 and css without any
    JavaScript.

*******************************************************************************/

/*  Design of the popUp:
      - full screen
      - Fixed position
      - Black background with transparency
      - no effect on clicked                    */

.popUp {
  cursor: default;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;       /* Put the popup on top */
	opacity:0;            /* Hide popUp           */
	transition: opacity 400ms ease-in;
  text-align: left;
	pointer-events: none;
}

/*  Pseudo class to display the popup when link
    is clicked                                  */

.popUp:target {
	opacity:1;             /* Display popUp       */
	pointer-events: all;  /* click action normal */
}

/*  Design of the text box                      */

.popUp > div {
	max-width: 70%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: linear-gradient(#fff, #d9bea6);
}

/*  Create a small round button for the Close
    link and  place it at a fixed position      */

.close {
	background: #310;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
 background: #d9bea6;
}

/*******************************************************************************

		Modal popup for the end of the game

*******************************************************************************/

#end-game {
  cursor: default;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;       /* Put the popup on top */
  text-align: left;
}

#message {
	display: flex;
	flex-flow: wrap;
  justify-content: center;
	max-width: 70vw;
	margin: 10% auto 3vh;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: linear-gradient(#fff, #d9bea6);
}

#end-choice {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: auto;
  width: 70vw;
}

#final-score {
  font-size: 0.7em;
  line-height: 0.5vw;
  text-align: center;
}

.hide {
	display: none;
}

#result {
  font-size: 1em;
  line-height: .1vw;
	text-align: center;
  width: 100%;
}

.emoji{
  max-width: 11vw;
}

.end-menu {
  font-size: 3vw;
  text-align: center;
  width: 33%;
}

#result {

}
/*******************************************************************************

		Breakpoint for portrait orientation.

*******************************************************************************/

@media screen and (orientation: portrait) {

	#deck {
		width: 75vw;
		height: 75vw;
		max-height: 100%;
		max-width: 100%;
		padding: 10px;
	}

	#game {
		height: 50vh;
		width: 100%;
	}

	#game-title {
		height: 15vh;
	}

	#score {
		height: 15vh;
	}

	header{
		order: 0;
		max-width: 100%;
	}

	.button {
		font-size: 2.5vh;
	}

	.menu {
		order: 3;
	}

	.pannel {
		font-size: 0.8em;
		margin-bottom: 1vh;
	}

	.card {
		width: 16vw;
		height: 16vw;
	}
	.picture {
		font-size: 5.5vh;
		margin-top: 2vh
	}
}
/*******************************************************************************

		keyframe animation for non matching shuffleCards

*******************************************************************************/

@keyframes flip {
	from {
		background-color: orange;
		}
	to {
		background-color: red;
	}
}

.flipping {
	animation-iteration-count: 10;
	animation-duration: 100ms;
	animation-name: flip;
}

@keyframes match-flip {
	from {

	}
}
