body {
  background-image: url("../img/wood.svg");
  /* Credit for background image
     https://pixabay.com/fr/bois-patron-%C3%A9tage-texture-arbre-150384/ */
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
}

header {
  color: white;
  text-align: center;
}
main {
  align-items: center;
  justify-content: center;
}
.card {
  background-color: orange;
  border-radius: 10px;
  box-shadow: 15px grey;
  display: flex;
  width: 100px;
  height: 100px;
}
#deck {
  align-self: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
  min-heigth: 600px;
  padding: 30px;
  background-image: linear-gradient(270deg, lightblue 0%, blue 100%);
  margin: auto;
  }
