/*******************************************************************************
*		Font for the pictures on cards																						 *
*******************************************************************************/
@font-face {
	font-family: "animals";
	src: url('../fonts/animals.ttf');
  /* Credit for font www.dafont.com */
}
/*******************************************************************************
*		DOM's semantic elements																										 *
*******************************************************************************/
body {
  background-image: url("../img/wood1.jpg");
  /* Credit for background image
     https://pixabay.com/fr/bois-patron-%C3%A9tage-texture-arbre-150384/ */

	cursor: default;							 /* always an arrow on non clickable elements */

  font-family: 'Ubuntu', sans-serif;
	height: 100vh;
	margin: 0;
	display: flex;								 /* flexbox for responsiveness								*/
	flex-wrap: wrap;
}

header {
	border-width: 2px;
	border-style: solid;
  color: #310;
  display: flex;
  flex-flow: wrap;
	font-size: 3vh;
	justify-content: center;
	min-height: 10%;
  text-align: center;
	order: 4;
	max-width: 25%;
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

/*******************************************************************************
*		Ids																																				 *
*******************************************************************************/
#deck {
  align-self: center;
  align-items: center;
  background-image: linear-gradient(270deg, #BCAAA4, #3e2723 100%);
  border-radius: 8px;
  box-shadow: 15px 15px 3px #3E2723;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3vh;
  margin: auto;
	/* Square responsive deck			*/
  max-width: 41vw;
  min-height: 41vw;
}

#game {
	display: flex;
	height: 94vh;
	justify-content: center;
	margin: 3vh 0 3vh 0;
  width: 74%;
}

#game-title {
	height: 0;
}

#menu {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	padding-top: 2%;
}

#moves {
	width: 100%;
}

#score {
	border-top-style: solid;
	border-top-width: 2px;
	display: flex;
	flex-flow: wrap;
	height: 20vh;
	justify-content: center;
	line-height: 10vh;
	padding-top: 3vh;
	width: 100%;
}

#time-left {
  width: 33.33%
}

#stars {
	color: grey;
}

/*******************************************************************************
*		Classes																																		 *
*******************************************************************************/

.button {
  background-color: #ff9800;
  border-color: #310;
  border-radius: 30px;
  border-style: solid;
	font-size: 4vh;
  line-height: 2.5em;
  padding: 0.5em;
  text-decoration: none;
	width: 80%;
}

.end-button {
  background-color: #ff9800;
  border-color: #310;
  border-radius: 30px;
  border-style: solid;
  line-height: 2.5em;
  padding: 0.5em;
  text-decoration: none;
	width: 20%;
}

.end-button:hover {
	background-color: #ffe0b2;
}

.card {
  color: brown;
  font-family: "animals",sans-serif;
  border-radius: 10px;
  display: flex;
	/* square cards with min size for small screens		*/
  width: 9vw;
  height: 9vw;
	min-width: 48px;
	min-height: 48px;
}

.clickable {
  cursor: pointer;							/* Element is clickable												*/
}

.front {
  background-color: orange;
}

.back {
  background-image: url("../img/card.svg");
  }

.back > h2 {
  visibility: hidden;
}

.matching {
	background-color: lightgreen;
}

.notMatching {
	background-color: #faa;
/*	animation-duration: 2s;
	animation-name: flip; */
}

.pannel {
  background-color: #ffca28;
  border-color: #310;
  border-style: solid;
  line-height: 1.2em;
  text-decoration: none;
	height: 1em;
    padding-bottom: .4em;
    padding-top: .1em;
		width: 100%;
}

.picture {
  font-size: 5vw;
	margin-top: 2.5vh;
  text-align: center;
  width: 100%;
}

/*******************************************************************************

    Modal box for Rules

    Setup a popup displaying the rules when
    "How to play" is clicked. The popup is made
    using only html5 and css without any
    JavaScript.

*******************************************************************************/

/*  Design of the popUp:
      - full screen
      - Fixed position
      - Black background with transparency
      - no effect on clicked                    */

.popUp {
  cursor: default;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;       /* Put the popup on top */
	opacity:0;            /* Hide popUp           */
	transition: opacity 400ms ease-in;
  text-align: left;
	pointer-events: none;
}

/*  Pseudo class to display the popup when link
    is clicked                                  */

.popUp:target {
	opacity:1;             /* Display popUp       */
	pointer-events: all;  /* click action normal */
}

/*  Design of the text box                      */

.popUp > div {
	max-width: 70%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: linear-gradient(#fff, #d9bea6);
}

/*  Create a small round button for the Close
    link and  place it at a fixed position      */

.close {
	background: #310;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
 background: #d9bea6;
}

#end-game {
  cursor: default;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;       /* Put the popup on top */
  text-align: left;
}

#message {
	display: flex;
	flex-flow: wrap;
	max-width: 70vw;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: linear-gradient(#fff, #d9bea6);
	pointer-events: all;
}

.hide {
	display: none;
}
#result {
	width: 100%;
	text-align: center;
}
/*******************************************************************************

		Breakpoint for portrait orientation.

*******************************************************************************/

@media screen and (orientation: portrait) {

	#deck {
		width: 75vw;
		height: 75vw;
		max-height: 100%;
		max-width: 100%;
		padding: 10px;
	}

	#game {
		height: 50vh;
		width: 100%;
	}

	#game-title {
		height: 15vh;
	}

	#score {
		height: 15vh;
	}

	header{
		order: 0;
		max-width: 100%;
	}

	.button {
		font-size: 2.5vh;
	}

	.menu {
		order: 3;
	}

	.pannel {
		font-size: 0.8em;
		margin-bottom: 1vh;
	}

	.card {
		width: 16vw;
		height: 16vw;
	}
	.picture {
		font-size: 5.5vh;
		margin-top: 2vh
	}
}
/*******************************************************************************

		keyframe animation for non matching shuffleCards

*******************************************************************************/

@keyframes flip {
	from {
		background-color: orange;
		}
	to {
		background-color: red;
	}
}

.flipping {
	animation-iteration-count: 10;
	animation-duration: 100ms;
	animation-name: flip;
}
